<ngx-spinner size="medium" [type]="typeSelected">
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>
<div class="container-fluid">
    <br />
    <mat-card>
        <div class="row">
            <div class="col-11">
                <h1 style="font-weight: 700;font-size:larger !important">Invoice Sales Stock</h1>
            </div>
            <div class="col-1">
                <button style="color: rgb(250, 0, 0);border-radius:20px;border:none;background-color: rgb(238, 42, 42);color: white;" (click)="closeDialog()">
                    <mat-icon style="font-weight: 900;">close</mat-icon>
                </button>
            </div>
        </div>
    </mat-card><br />

    <div class="row">
        <div class="col-lg-6 col-sm-12 col-md-12 d-flex">
            <input placeholder="Search by Serial Number or Material Code" style="width:100% !important;border-radius:5px;height:35px !important" (input)="filterData()" [(ngModel)]="searchedSerialNumber" matInput />
        </div>
        <div class="col-lg-6 col-sm-12 col-md-12 d-flex" >
            <label>
                <!-- Total Parts:- {{ this.invoiceStockData.length }} -->
            </label>
        </div>
    </div><br />
 
    <div>
    <div class="row">
        <div class="col-12">
            <table class="table-responsive table" style="border:none !important" >
                <thead>
                        <th  style="background-color: rgb(66, 66, 66); color: white;"></th>
                        <th  style="background-color: rgb(66, 66, 66); color: white;">Batch Number</th>
                        <th  style="background-color: rgb(66, 66, 66); color: white;">Material Code</th>
                        <th  style="background-color: rgb(66, 66, 66); color: white;">Material Name</th>
                        <th  style="background-color: rgb(66, 66, 66); color: white;">Serial Number</th>
                        <th  style="background-color: rgb(66, 66, 66); color: white;">Stock Type</th>
                        <th  style="background-color: rgb(66, 66, 66); color: white;">Item Type</th>
                </thead>
                <tbody>
                    <ng-container *ngFor="let item of invoiceStockData">
                        <tr *ngIf="showAllRows || item.SerialNumber.toLowerCase().includes(searchedSerialNumber.toLowerCase()) || item.Material.toLowerCase().includes(searchedSerialNumber.toLowerCase())" style="border:none !important" >
                            <td><input type="checkbox" [(ngModel)]="item.isSelected" /></td>
                            <td>{{item.Batch}}</td>
                            <td>{{item.Material}}</td>
                            <td>{{item.MaterialName}}</td>
                            <td>{{item.SerialNumber}}</td>
                            <td>{{item.InventoryStockType}}</td>
                            <td>{{item.ItemType}}</td>                            
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>

    <div style="bottom:0; position: sticky; background-color: rgb(201, 201, 201); padding: 5px;">
        <div class="row">
            <div class="col-10 d-flex justify-content-end">
                <button class="btnClass" (click)="addInvoiceSalesStocks()">Add Stocks</button>
            </div>
            <div class="col-2 d-flex justify-content-end">
                <mat-checkbox></mat-checkbox>&nbsp;<mat-label>Show Selected</mat-label>
            </div>
        </div>
    </div>
    </div>
 
</div>