<ngx-spinner style="width: 100%; height: 100%; position: absolute;" size="medium" *ngIf="Spinner"
  [type]="typeSelected" [fullScreen]="true">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<div class="container-fluid p-0">
  <div class="row g-0">
    <div class="col-lg-4 col-sm-5 login-div">
      <div class="auth-content p-4 d-flex align-items-center min-vh-100">
        <div class="w-100">
          <div class="row justify-content-center">
            <div class="col-lg-9">
              <div>
                <div class="text-center">
                  <div>
                    <a routerLink="" class="logo-full"><img src="assets/images/iPlanet.jpg" alt="logo-full"></a>
                  </div>

                  <h4 class="font-20 mt-4">Forgotten Password ?</h4>
                  <p class="text-muted">Enter your Email Id  to reset your password</p>
                </div>

                <div class="p-2 mt-5">
                  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
                    <div class="form-group auth-form-group mb-4">
                      <mat-icon matSuffix class="auth-page-icon">email</mat-icon>
                      <input type="email" formControlName="PrimaryEmail" class="form-control auth-control" id="email"
                        placeholder="Enter your Email Id" [ngClass]="{ 'is-invalid': submitted && f.PrimaryEmail.errors }">
                      <div *ngIf="submitted && f.PrimaryEmail.errors" class="invalid-feedback">
                        <div *ngIf="f.PrimaryEmail.errors.required">Email is required</div>
                        <div *ngIf="f.PrimaryEmail.errors.pattern">Email must be a valid email address</div>
                      </div>
                    </div>

                    <div class="container-login100-form-btn">
                      <button  [disabled]="submitClicked"  
                       mat-flat-button   color="primary" class="login100-form-btn" type="submit">
                        Submit Email
                      </button>
                    </div>

                  </form>
                </div>

                <div class="mt-5 text-center">
                  <p>Want To Login ? <a routerLink="/authentication/signin" class="font-weight-medium text-primary">
                      Log in </a> </p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-sm-7">
      <div class="crm-logo-div">
        <div class="auth-content p-4 d-flex align-items-center min-vh-100">
        <div class="w-100">
          <div class="row justify-content-center">
        <img class="crm-logo" src="assets/images/background.png" alt="logo-full" />
        </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
