<section class="content">
  <mat-card class="p-2 mb-4" style="z-index: 9;">
    <div class="row">
      <div class="col-12">
        <h3 class="ml-2 p-10 text-dark">
          {{formTitle}} SalesPerson
        </h3>
      </div>
    </div>
  </mat-card>
  <mat-card class="p-2 mb-4" style="z-index: 9;">
    <form [formGroup]="salespersonForm" name="salespersonForm" autocomplete="off">
      <div class="card-body" style="padding: 10px;">
        <div class="row">
          <div class="col-sm-6">
            <mat-form-field appearance="standard" [style.width.%]="100">
              <mat-label>Employee Code</mat-label>
              <input matInput [(ngModel)]="salesperson.EmployeeCode" [readonly]="isEdit" formControlName="EmployeeCode">
            </mat-form-field>
          </div>
          <div class="col-sm-6">
            <ng-select placeholder="Location Account Group Code*" [items]="LocationAccGroup.Data" bindLabel="TEXT" bindValue="Id"
              formControlName="LocationCode"></ng-select>
          </div>
        </div><br />
        <div class="row">
          <div class="col-sm-6">
            <mat-form-field appearance="standard" [style.width.%]="100">
              <mat-label>Sales Person Name </mat-label>
              <input matInput [(ngModel)]="salesperson.SalesPersonName" formControlName="SalesPersonName">
            </mat-form-field>
          </div>

         
        </div>

        <div class="row">
          <div class="col-sm-9" style="text-align: right;">
            <div class="text-danger" style="display: inline-block" role="alert">
              {{errorMessage}}
            </div>
          </div>
          <div class="col-sm-3" style="text-align: right;">
            <button type="submit" (click)="onSubmit()" class="btn btn-success">Save</button>
            <button type="button" (click)="returnPrevious()" class="btn btn-light">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </mat-card>
</section>