<div class="header_details">
    <div class="header_details_top_row">
      <span class="top_header">{{headertitle}}</span>
      <div class="action_button">
        <button class="action_btn action_btn_one">Action One</button>
        <button class="action_btn action_btn_two">Action Two</button>
      </div>
    </div>
    <div class="header_details_content">
      <div class="header_details_content_row first_row">
        <div class="hd_column">
          <span class="hd_header_heading"> PartnerType </span>
          <span class="hd_header_content"> Abcd </span>
        </div>
        <div class="hd_column">
          <span class="hd_header_heading"> OrderDate </span>
          <span class="hd_header_content"> 22nd Jun 2021 </span>
        </div>
        <div class="hd_column">
          <span class="hd_header_heading "> Status </span>
          <span class="hd_header_content in_proncess"> In Process </span>
        </div>
        <div class="hd_column">
          <span class="hd_header_heading"> Delivery Status </span>
          <span class="hd_header_content done_process">
            Completed
          </span>
        </div>
      </div>
      <div class="header_details_content_row sec_row">
        <div class="hd_column">
          <span class="hd_header_heading"> Created By </span>
          <span class="hd_header_content"> Sushil Jadhav </span>
        </div>
        <div class="hd_column">
          <span class="hd_header_heading"> Created On </span>
          <span class="hd_header_content"> 22nd Jun 2021 </span>
        </div>
        <div class="hd_column">
          <span class="hd_header_heading"> Changed By </span>
          <span class="hd_header_content"> Sushil Jadhav </span>
        </div>
        <div class="hd_column">
          <span class="hd_header_heading"> Change On </span>
          <span class="hd_header_content"> 22nd Jun 2021 </span>
        </div>
      </div>
      <div class="closer_content">
        <span class="arrow_icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="13" height="9" viewBox="0 0 13 9"
            fill="none">
            <path d="M12 8L6.5 1L1 8" stroke="white" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
        </span>
      </div>
    </div>
</div>