.btn-grad {
  /* background-image: linear-gradient(to top, #b4b4b4 0%, #1A2980  100%); */
  /* margin: 10px;
  padding: 15px 45px; */
  background-color: #1264cf;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  height: 30px;
  align-items: center;
  display: flex;
  border: none;
}

.refreshBtn
{
  background-color: #797979;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  height: 30px;
  align-items: center;
  display: flex; 
  width: 130px;
  justify-content: center;
  border: none;
}

.Ux_close {
  position:initial !important;
  
}