<section class="content">
    <ngx-spinner size="medium" [type]="typeSelected">
        <p style="font-size: 20px; color: white">Loading...</p>
    </ngx-spinner>
  
    <mat-card class="p-2" style="z-index: 9;">
        <div class="row">
          <div class="col-sm-4 col-lg-4 col-md-4">
              <p class="HeaderText">Goods Movement List</p>  
          </div>
        </div>
  
        <div class="row">
          <div class="col-sm-4 col-lg-4 col-md-4 justify-content-left">
            <ng-select [items]="LocationForJob.Data" placeholer="Location" (change)="getGoodsMovementList()"  [(ngModel)]="locationData" bindLabel="TEXT" bindValue="Id">
            </ng-select>
          </div>
  
          <div class="col-sm-4 col-lg-4 col-md-4 justify-content-left">
            <ng-select [items]="GMDocType.Data" placeholder="Document Type" disabled="true" [(ngModel)]="GMDocTypeData" bindLabel="TEXT" bindValue="Id">
            </ng-select>
          </div>
        </div>
    </mat-card><br />
  
    <mat-card>
      <table class="table"> 
        <thead>
          <th>Header</th>
          <th>Document Status</th>
          <th>Document Code</th>
          <th>Document Date</th>
          <th>Partner Type</th>
          <th>PartnerAccGroupCode</th>
        </thead>
        
        <tbody >
          <tr *ngFor="let item of results">
          <td><a (click)="navigateToGoodsMovement(item)"><u  style="color:rgb(58, 135, 180);cursor:pointer">{{item?.GoodsMovementHeaderGUID}}</u></a>
          <td>{{item?.DocumentStatus}}</td>
          <td>{{item?.DocumentCode}}</td>
          <td>{{item?.DocumentDate}}</td>
          <td> {{item?.PartnerType}}</td>
          <td> {{item?.PartnerAccGroupCode}}</td>
        </tr>      
        </tbody>
        
      </table>
    </mat-card>
  </section>