<section class="content">
  <ngx-spinner size="medium" [type]="typeSelected">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
    <mat-card class="p-2 mb-4" style="z-index: 9;">
        <div class="row">
          <div class="col-sm-9 ">
            <p class="h4">Stocking Order List</p>  
          </div>
          <div class="col-sm-3 " align="end">
            <button  class="btnClass" (click)="newStockOrderGenerate()" > Create Stock Order </button>
          </div>
        </div>
  
      </mat-card>
    
       
    <mat-card>
        <div class="row" style="align-items: center; padding-left:10px;">
            <div class="col-sm-3">
              <ng-select [items]="LocationForJob.Data" (change)="getOrderSummaryData()" [(ngModel)]="ShipTo" bindLabel="TEXT" bindValue="Id"
                placeholder="Location">
              </ng-select>
            </div>
            <div class="col-sm-3">
                <ng-select [items]="orderStatus" 
                  placeholder="Order Status" (change)="onOrderStatusList()" [(ngModel)]="orderStatusEvent">
                </ng-select>
              </div>
          </div>
          <div class="row">
            <div class="scrollcntr" >
              <div class="contents" style="height: 450px;overflow: auto;">
                    <table>
                        <thead >
                        <tr>
                        <th style="padding-right: 50px;background-color: rgb(187, 187, 187);" scope="col"><b>Order</b></th>
                        <th style="padding-right: 50px;background-color: rgb(187, 187, 187);" scope="col"><b>Confirmation</b></th>
                        <th style="padding-right: 50px;background-color: rgb(187, 187, 187);" scope="col"><b>CreatedDate</b></th>
                        <th style="padding-right: 30px; text-align: center; background-color: rgb(187, 187, 187);" scope="col"><b>Invoice</b></th>
                        <th style="padding-right: 100px;background-color: rgb(187, 187, 187);white-space: nowrap;" scope="col"><b>Part Number</b></th>
                        <th style="padding-right: 100px;background-color: rgb(187, 187, 187);" scope="col"><b>PO Number</b></th>
                        <th style="padding-right: 50px;background-color: rgb(187, 187, 187);" scope="col"><b>ShipTo</b></th>
                        <th style="padding-right: 30px; text-align: center; background-color: rgb(187, 187, 187);" scope="col"><b>Shipping</b></th>
                        <th style="padding-right: 50px;background-color: rgb(187, 187, 187);" scope="col"><b>Status</b></th>
                        <th style="padding-right: 50px;background-color: rgb(187, 187, 187);" scope="col"><b>CreatedBy</b></th>                                                                                               
                        </tr>
                        </thead>
                        <tbody style="white-space: nowrap;">
                        <tr *ngFor="let item of finalPartList">
                        <td > <span ><a href="javascript: void(0);" (click)="openOrder(item)">{{ item.serviceOrderNumber}}</a> </span></td>
                        <td> <span> {{ item.orderId}} </span></td>
                        <td> <span> {{ item.orderCreateDate}} </span></td>
                        <td style="text-align: center;"> <span> {{ item.invoice}} </span></td>
                        <td> <span> {{ item.partNumber}} </span></td>
                        <td> <span> {{ item.purchaseOrderNumber}} </span></td>
                        <td> <span> {{ item.shipTo}} </span></td>
                        <td  style="text-align: center;"> <span> {{ item.shipped}} </span></td>
                        <td> <span> {{ item.statusCode}} </span></td>
                        <td> <span> {{ item.createdFirstName}} {{ item.createdLastName}} </span></td>
                        </tr>
                        </tbody>
                    </table>
                  </div>
            </div>
        </div>
    </mat-card>  
</section>