<section class="content">
    <div class="container-fluid">
     <!-- ADD Button -->
     <mat-card class="p-2 mb-4" style="z-index: 9;">
        <div class="row">
          <div class="col-lg-10  col-sm-10 ">
            <p class="h4"> Price List</p>
            <p class="mt-11 ml-8">
              <span *ngFor="let cumb of breadCumbList;let i = index">
                <span *ngIf="breadCumbList.length-1 == i">
                  <mat-icon class="breadcumb-icon">arrow_forward_ios</mat-icon>{{cumb.text}}
                </span>
                <a *ngIf="breadCumbList.length-1 != i" (click)="breadCumbClick(cumb.url)" class="breadcumb">
                  <span *ngIf="i!=0">
                    <mat-icon class="breadcumb-icon">arrow_forward_ios</mat-icon>
                  </span> {{cumb.text}}
                </a>
              </span>
            </p>
  
          </div>

          <div class="col-lg-2 col-sm-2 btn-head-group">
            <div  style="display: flex;align-items: center; justify-content: end;column-gap: 20px;">

              <div >
                <!-- <label style="white-space: nowrap;"><b>Add Material  </b></label> -->
                <div class="d-flex justify-content-end"> 

                  <ng-container *ngIf="toolBarAction.length > 0">
                    <ng-container *ngFor="let toolbar of toolBarAction">
                      <button mat-raised-button color="primary" class="{{toolbar.title}}" (click)="actionEvent(toolbar)">
                        <mat-icon>{{toolbar.icon}}</mat-icon>
                        <span class="{{toolbar.title}}">{{toolbar.title}}</span>
                      </button>
                    </ng-container>
                  </ng-container>
                </div>
              </div>


              <div>
                <div style="margin-top: 5px;padding-right: 5px;">
                  <input type="file" id="fileInput" accept=".xls, .xlsx" style="display: none;" (change)="FileUploadMaterial($event)">
                  <button (click)="selectFile()" 
                  matTooltip="Bulk Upload PriceList/s" class="btn " style="width:30px; padding: 3px; border-radius: 4px;background-color: #233f76;">
                  <img src="assets/images/uploadNew.png">
                </button>
                </div>
              </div> 
 

              <div>
                <div style="margin-top: 5px;"> 
                  <button class="btn btn-warning btn-download" matTooltip="Download Sample Excel" (click)="downloadSampleFile()" >
                    <i style="color: white;" class="fa fa-download" aria-hidden="true"></i>
                  </button>
                </div> 
              </div>
 

            </div>
          </div>
       
        </div>
  
      </mat-card>
      <mat-card class="p-2 mb-4">
        <!-- <form> -->
            <div class="mat-card-s3">
                <div class="d-flex flex-wrap">
                  <div class="col-sm-2">
                    <div class="row">
                      <div class="col-sm-12">
                        <ng-select placeholder="Location Price Group" [items]="LocationPriceGroupDropDown.Data" bindLabel="TEXT"
                          bindValue="Id" [(ngModel)]="LocationPriceGroup">
                        </ng-select>
                      </div>
                    </div>
                  </div>
    
                    <div class="col-sm-2">
                      <div class="row">
                        <div class="col-sm-12">
                          <mat-form-field appearance="standard" [style.width.%]="100">
                            <mat-label>Material  Code</mat-label>
                            <input type="text" matInput [(ngModel)]="MaterialPriceGroup" />
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
            
    
                    <div class="col-sm-2">
                      <div class="row">
                        <div class="col-sm-12">
                          <ng-select placeholder="Pricing Option" [items]="PricingOptionDD.Data" bindLabel="TEXT"
                            bindValue="Id" [(ngModel)]="PricingOption">
                          </ng-select>
                        </div>
                      </div>
                    </div>
               
    
                    <div class="col-sm-2">
                        <div class="x_final_buttons1" style="margin: 20px 0 15px !important;">
                            <button class="x_final_button x_active_btn x_save_button"
                                (click)="search()">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        <!-- </form> -->
    </mat-card>
    
    

      
  
      <!-- Data -->
      <mat-card class="m-0 p-0">
        <div class="row clearfix" *ngIf="columns.length > 0">
          <div class="table-responsive">  
            <nitc-grid [gridcolumns]="columns" [dataSource]="detail" [actions]="actionDetails" [hideSpinnerEvents]="hideSpinnerEvent"
            (actionEvent)="actionEmit($event)" (changeEvent)="loadPageData($event)" [isAllowSelect]="isChoose">
            </nitc-grid>
          </div>
        </div>
      </mat-card>
    </div>
  </section>