.input-icons i {
    position: absolute;
  
  }
   
  
  .input-icons {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  
  .icon {
    padding: 10px;
    min-width: 40px;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
  }