<ngx-spinner style="width: 100%; height: 100%; position: absolute;" size="medium" *ngIf="Spinner"
  [type]="typeSelected" [fullScreen]="true">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<div class="container-fluid p-0">
  <div class="row g-0">
    <div class="col-lg-4 col-sm-5 login-div">
      <div class="auth-content p-4 d-flex align-items-center min-vh-100">
        <div class="w-100">
          <div class="row justify-content-center">
            <div class="col-lg-9">
              <div>
                <div class="text-center">
                  <div>
                    <a routerLink="" class="logo-full"><img src="assets/images/iPlanet.jpg" alt="logo-full"></a>
                  </div>

                  <h4 class="font-20 mt-4"   >Resetting Password ?</h4>
                  <p class="text-muted" >Enter a new password</p>
                </div>

  

                <div class="p-2 mt-5" >
                  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" >
                
                    <div class="auth-form-group ">
                      <!-- OTP Field -->
                      <div style=" display: flex;" > 
                        <div style="top:33%;position: absolute;">
                          <i class="fa fa-user" aria-hidden="true" style="padding-left: 20px; font-size: 16px !important;position: absolute; color: #6c757d;"></i>
                        </div>
                        <input autocomplete="off" [readonly]="true" formControlName="UserName" class="form-control auth-control" 
                        placeholder=""   >
                      </div>
                    </div>
                    



                    <div class="form-group auth-form-group mt-4 ">
                      <!-- OTP Field -->
                      <div> 
                        <div style="top:33%;position: absolute;">
                          <i class="fa fa-lock"  aria-hidden="true" style="padding-left: 20px; font-size: 16px !important;position: absolute; color: #6c757d;"></i>
                        </div>
                        <input autocomplete="off"  formControlName="EnteredOTP"  (keypress)=" onKeyPress($event, 'int', 6)" class="form-control auth-control" 
                        placeholder="Enter 6 Digit OTP" maxlength="6"   >
                      </div>
                      <div *ngIf="submitted && f.EnteredOTP.errors" class="invalid-feedback">
                        <div *ngIf="f.EnteredOTP.errors.required">OTP is required</div>
                        <div *ngIf="f.EnteredOTP.errors.pattern">OTP must be a 4-digit number</div>
                        </div>
                    </div>






                      <!-- New Password Field -->
                      <div class="form-group auth-form-group ">
                      <mat-icon matSuffix class="auth-page-icon">password</mat-icon>

                      <div class="input-icons" [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }"> 
                        
                        <i alt="show" class="far fa-eye eye-show icon" 
                        (click)="showPassword = !showPassword"
                        [class.hide]="!showPassword"></i>
                        
                        <i alt="hide" class="far fa-eye-slash eye-hide icon" 
                        (click)="showPassword = !showPassword"
                        [class.hide]="showPassword"></i>
                        
                       
                      <!-- <mat-icon matSuffix >password</mat-icon> -->
                        <input autocomplete="off" [type]="showPassword ? 'text' : 'password'" formControlName="newPassword" class="form-control" id="newPassword"
                        placeholder="Enter New Password" maxlength="20"   >
                  
                      </div>
                      <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                          <div *ngIf="f.newPassword.errors.required">New Password is required</div>
  
                          <div *ngIf="f.newPassword.errors.pattern">
                            New Password must contain at least 8-20 characters, including:
                            <ul>
                              <li>At least one uppercase letter</li>
                              <li>At least one lowercase letter</li>
                              <li>At least one digit</li>
                              <li>At least one special character</li>
                            </ul>
                          </div>
                        </div>   
                    </div>


                    <div class="form-group auth-form-group ">
                      <mat-icon matSuffix class="auth-page-icon">password</mat-icon>

                      <div class="input-icons" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"> 

                        <i alt="show" class="far fa-eye eye-show icon" 
                        (click)="showconfirmPassword = !showconfirmPassword"
                        [class.hide]="!showconfirmPassword"></i>

                        <i alt="hide" class="far fa-eye-slash eye-hide icon" 
                        (click)="showconfirmPassword = !showconfirmPassword"
                        [class.hide]="showconfirmPassword"></i>


                      <input autocomplete="off" [type]="showconfirmPassword ? 'text' : 'password'" formControlName="confirmPassword" class="form-control auth-control" id="confirmPassword"
                        placeholder="Enter Confirm Password" maxlength="20"  >
                  
                      </div>
                      <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                          <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                          <div *ngIf="f.confirmPassword.errors.passwordMismatch">Passwords do not match.</div>
                        </div>   

                    </div>


                    <div class="container-login100-form-btn">
                      <button mat-flat-button color="primary" 
                      [disabled]="submitClicked"   class="login100-form-btn"  >
                        Reset My Password
                      </button>
                    </div>

                  </form>
                </div>




                <div class="mt-5 text-center">
                  <p>Want To Login ? <a routerLink="/authentication/signin" class="font-weight-medium text-primary">
                      Log in </a> </p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-sm-7">
      <div class="crm-logo-div">
        <div class="auth-content p-4 d-flex align-items-center min-vh-100">
        <div class="w-100">
          <div class="row justify-content-center">
        <img class="crm-logo" src="assets/images/background.png" alt="logo-full" />
        </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
