<section class="content">
  <mat-card class="p-2 mb-4" style="z-index: 9;">
    <div class="row">
      <div class="col-12">
        <h3 class="ml-2 p-10 text-dark">
          {{formTitle}} Approval Person
        </h3>
      </div>
    </div>
  </mat-card>
  <mat-card class="p-2 mb-4" style="z-index: 9;">
    <div class="card-body" style="padding: 10px;">
      <div class="row">
        <div class="col-sm-6">
          <mat-form-field appearance="standard" [style.width.%]="100">
            <mat-label>ApprovalPerson</mat-label>
            <input matInput [(ngModel)]="ApprovalPerson">
          </mat-form-field>
        </div>
        <div class="col-sm-6">

          <ng-select [items]="LocationAccGroup.Data" bindLabel="TEXT" [disabled]="false" bindValue="Id"
            [(ngModel)]="LocationCode" placeholder="Location Code*"  (search)="onLocationAccGroupCode($event)"></ng-select>

        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <ng-select placeholder="Approval Level *" [items]="ApprovalLevelDD" [(ngModel)]="ApprovalLevel">
          </ng-select>
        </div>
        <div class="col-sm-6">
          <ng-select placeholder="Process *" [items]="ProcessDD" [(ngModel)]="Process">
          </ng-select>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-9" style="text-align: right;">
          <div class="text-danger" style="display: inline-block" role="alert">
            {{errorMessage}}
          </div>
        </div>
        <div class="col-sm-3" style="text-align: right;">
          <button type="submit" (click)="onSubmit()" class="btn btn-success">Save</button>
          <button type="button" (click)="returnPrevious()" class="btn btn-light">Cancel</button>
        </div>
      </div>
    </div>
  </mat-card>
</section>