<!-- 
<div class="row justify-content-right" style="display: flex; align-items: center; justify-content: end; float: right;padding:5px;">
  <i style="font-size: 27px !important;  color: red; cursor: pointer;"  
  (click)="closeDialog()" class="Ux_close fa-duotone closeBtn fa-circle-xmark larger-icon"></i>
</div> --> 
<div style=" width: 100%;margin: 2% auto;padding: 5px;">
  <div class="container" style="border:1px solid rgb(190, 190, 190);border-radius: 4px;">
  
    <div class="row">
          <!-- <div style="margin: 1% 25%;"> 
            <img style="width: 50%;" src="assets/images/ResQ.png" alt="logo-full"> 
          </div> -->
          <div style="padding: 10px;">
          <div style="display: flex; background-color: #0c91fd;  border-radius: 10px;padding:10px;height: 80px;">
            <div style="padding-right: 25px;">
              <mat-icon style="font-size: 50px !important;">lock</mat-icon>
              <!-- <i class="fa fa-lock" style="font-size: 35px !important; color: white;" aria-hidden="true"></i> -->
            </div>
            <div>
             <label class="font-20" > Change Password </label><br> 
              <label class="font-19">Reason:- {{UserObject?.ReasonForChangePassword}}</label> 
             </div> 
         </div>  
         </div>
    </div>

    <div class="row mt-2">
          <form [formGroup]="changeForm" >
        
              <!-- Current Password Field -->
              <div class="form-group auth-form-group ">
                <mat-icon matSuffix class="auth-page-icon">password</mat-icon>

                <div class="input-icons" [ngClass]="{ 'is-invalid': submitted && f.currentPassword.errors }"> 
                  
                  <i alt="show" class="far fa-eye eye-show icon" 
                  (click)="showcurrentpassword = !showcurrentpassword"
                  [class.hide]="!showcurrentpassword"></i>
                  
                  <i alt="hide" class="far fa-eye-slash eye-hide icon" 
                  (click)="showcurrentpassword = !showcurrentpassword"
                  [class.hide]="showcurrentpassword"></i>
                  
                
                <!-- <mat-icon matSuffix >password</mat-icon> -->
                  <input [type]="showcurrentpassword ? 'text' : 'password'" formControlName="currentPassword" class="form-control" id="CurrentPassword"
                  placeholder="Enter your Current Password" maxlength="30"   >
            
                </div>
                <div *ngIf="submitted && f.currentPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.currentPassword.errors.required">Current Password is required</div>
                  </div>   
              </div>

              <!-- New Password Field -->
              <div class="form-group auth-form-group ">
              <mat-icon matSuffix class="auth-page-icon">password</mat-icon>

              <div class="input-icons" [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }"> 
                
                <i alt="show" class="far fa-eye eye-show icon" 
                (click)="showPassword = !showPassword"
                [class.hide]="!showPassword"></i>
                
                <i alt="hide" class="far fa-eye-slash eye-hide icon" 
                (click)="showPassword = !showPassword"
                [class.hide]="showPassword"></i>
                
              
              <!-- <mat-icon matSuffix >password</mat-icon> -->
                <input [type]="showPassword ? 'text' : 'password'" formControlName="newPassword" class="form-control" id="NewPassword"
                placeholder="Enter New Password" maxlength="20"   >
          
              </div>
              <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                  <div *ngIf="f.newPassword.errors.required">New Password is required</div>

                  <div *ngIf="f.newPassword.errors.pattern && !isAdmin">
                    New Password must contain at least 8-20 characters, including:
                    <ul>
                      <li>At least one uppercase letter</li>
                      <li>At least one lowercase letter</li>
                      <li>At least one digit</li>
                      <li>At least one special character</li>
                    </ul>
                  </div>

                  <div *ngIf="f.newPassword.errors.pattern && isAdmin">
                    Admin Login: New Password must contain at least 14-20 characters, including:
                    <ul>
                      <li>At least one uppercase letter</li>
                      <li>At least one lowercase letter</li>
                      <li>At least one digit</li>
                      <li>At least one special character</li>
                    </ul>
                  </div>
                </div>   
              </div>

            <div class="form-group auth-form-group ">
              <mat-icon matSuffix class="auth-page-icon">password</mat-icon>

              <div class="input-icons" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"> 

                <i alt="show" class="far fa-eye eye-show icon" 
                (click)="showconfirmPassword = !showconfirmPassword"
                [class.hide]="!showconfirmPassword"></i>

                <i alt="hide" class="far fa-eye-slash eye-hide icon" 
                (click)="showconfirmPassword = !showconfirmPassword"
                [class.hide]="showconfirmPassword"></i>


              <input [type]="showconfirmPassword ? 'text' : 'password'" formControlName="confirmPassword" class="form-control auth-control" id="ConfirmPassword"
                placeholder="Enter Confirm Password" maxlength="20"  >
          
              </div>
              <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                  <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                  <div *ngIf="f.confirmPassword.errors.passwordMismatch">Passwords do not match.</div>
                </div>   

            </div>
          </form>        
     </div>
 
    <br />

      <div class="row" style="padding-bottom: 10px;">
        <div class="col-lg-12 col-sm-12 col-md-12 d-flex justify-content-center">
          <div class="container-login100-form-btn">
            <button *ngIf="!isLoading" mat-flat-button color="primary" class="changePassword"
              (click)="onSubmit()">
              <span >Change My Password</span>
             </button>
            <mat-spinner *ngIf="isLoading" diameter="40" color="primary"></mat-spinner>
          </div> 
        </div>
      </div>
    </div>
</div>


