.input-icons i {
    position: absolute;
  
  }
   
  
  .input-icons {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  
  .icon {
    padding: 10px;
    min-width: 40px;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
  }


 .changePassword
 { 
  border-radius: 4px !important;
  background: black;
 }

 .changePassword:hover
 {
    background-color: #ff9912;
 }

 .btnClass
{
   border:  1.5px solid rgb(95 165 243);
    color: white;
    border-radius: 0px;
    background-image: linear-gradient(rgb(202, 212, 223), rgb(103, 163, 253)) !important;
    height: 25px;
}
::ng-deep .ng-select .ng-select-container
{
    margin: 0px !important;
}


.inputBox
{
    color: #333;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ccc;
    align-items: center;
}


 .labelStyle
 {
    font-size: 15px;
    font-family: Arial !important;
    padding-right: 20px;
 }

.mat-dialog-container
 {
  height: 500px !important;
  border: 3px solid #0f0f0f !important;

 }

 .font-20
 {
  font-weight: 600;
  font-size: 20px !important;
  letter-spacing: 2px;
  color: rgba(240, 230, 230, 0.932);
 }
 .font-19
 {
  letter-spacing: 0px;
  color: rgb(226, 217, 217) !important;
  font-size: 13px !important;
 }