<section class="container">
    <ngx-spinner size="medium" [type]="typeSelected">
        <p style="font-size: 20px; color: white">Loading...</p>
    </ngx-spinner>
    <div class="row mb-2 mt-5">
        <div class="col-12">
            <div class="card"
                style="box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%); padding: 0px;margin-bottom: 14px !important;">
                <div class="card-body accordiontab" style="padding: 10px;padding-top: 0;margin: 0;">
                    <div class="row">
                        <div class="col-12 tabheader">
                            <h3 class="text-dark">
                                Search Customer
                            </h3>
                        </div>
                        <div class="col-5" style="text-align: right;">
                        </div>
                    </div>
                    <div class="row" style="padding: 20px;">
                        <div class="card" style="margin-bottom: 1px !important;"><br>
                            <div class="card-body">
                                <div class="row" style="margin: auto 15%;">
                                    <div class="col-lg-2 col-sm-2 col-3">
                                        <mat-label style="font-size: 14px !important;">ISD</mat-label>
                                        <input matInput value="+91" style="border: 1px solid rgb(192, 192, 192);border-radius: 3px;height: 40px !important;font-size: 21px !important;">
                                    </div>
                                    <div class="col-lg-9 col-sm-10 col-9 mt-4" style="padding-left: 20px;">
                                        <input type="tel" minlength="10" maxlength="10"
                                            (ngModelChange)="searchButtonShow($event)" [pattern]="mobNumberPattern"
                                            required [(ngModel)]="searchedMobileNumber"
                                            style="border: 1px solid rgb(192, 192, 192);border-radius: 3px;height: 40px !important;font-size: 21px !important;"
                                            matInput placeholder="mobileNo">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-2 col-sm-2" style="margin: 2% auto;">
                                        <div style="padding-top:18px ;margin:auto 22%;" *ngIf="isSearchButton">
                                            <button class="btn btn-primary" (click)="search()">Search</button>
                                            <ngx-spinner bdColor="rgba(0, 0, 0, 0)" size=" large" color="white"
                                                type="ball-scale-multiple">
                                                <p style="font-size: 20px; color:gray">Loading...</p>
                                            </ngx-spinner>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div [hidden]="isSearched">
        <div class="row">
            <div>
                <div *ngIf="isSearchButton"
                    style="box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%); margin-bottom: 1rem; padding: 0px;">
                    <div class="col-12 tabheader" style="margin-bottom: 0px;">
                        <h3 class="text-dark">
                            Customer Details
                        </h3>
                    </div>
                    <div
                        style="background-color: white;box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%); padding: 0px;">
                        <div class="card-body accordiontab" style="padding: 10px;padding-top: 0;margin: 0;">
                            <mat-card>
                                <div class="row">
                                    <div class="col-3 d-flex justify-content-center" *ngIf="showCustomerVar">
                                        Name: <b>{{firstName}}  {{lastName}}  </b>
                                    </div>
                                    <div class="col-3 d-flex justify-content-center" *ngIf="showCustomerVar">
                                        Email: <b>{{emailId}}</b>
                                    </div>
                                    <div class="col-3 d-flex justify-content-center" *ngIf="showCustomerVar">
                                        Mobile No: <b>{{mobileNumber}}</b>
                                    </div>
                                    <div class="col-3 mt-2" *ngIf="showCustomerVar">
                                        <ng-select [items]="LocationForJob.Data" bindLabel="TEXT" bindValue="Id" placeholder="Location*"
                                            [(ngModel)]="locationCode" (search)="onLocationSearch($event)">
                                        </ng-select>
                                    </div>
                                </div>
                                    <div class="col-sm-12" *ngIf="showCustomerVar">
                                        <div class="formcntr text-center pb-4">
                                            <div class="no-drop TokenBtn" role="group" aria-label="Third group">
                                                <button type="button" class="btn btn-success" (click)="navigatetoAccessorySales()">Accessory Sales</button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col-sm-12" *ngIf="true"> -->
                                        
                                    <div class="col-sm-12" *ngIf="showAddCustomer">
                                        <div class="formcntr text-center pb-4">
                                            <div class="no-drop TokenBtn" role="group" aria-label="Third group">
                                                <button type="button" class="btn btn-success" (click)="addCustomer()">Add Customer</button>
                                            </div>
                                        </div>
                                    </div>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div *ngIf="showCustomerAddBool" class="Ux_popup not-allowed ">
    <i class="Ux_close fa-duotone fa-circle-xmark not-allowed "
        (click)="showCustomerAddBool = false"  (closeAddCustomer)="closeAddCustomer($event)" ></i>
    <app-add-customer></app-add-customer>
</div>