mat-form-field.ng-invalid.ng-touched .mat-form-field-flex {
    border-bottom: 2px solid red;
  }
  
  .mat-form-field.ng-valid .mat-form-field-flex {
    border-bottom: 2px solid green;
  }
  
  .mat-form-field-required-marker {
    color: red;
  }
  