<div class=" mainCard" [ngClass]="{'blurred': !hidePopup}">

    <div style="height: 70%;overflow: auto;padding: 10px;">

        <!-- Details -->
        <div class="row">
            <div class="col-lg-6 col-sm-12 col-md-6">
                <mat-card>
                    <p><b>Customer Details</b></p>
                    <hr />
                    <mat-card-title
                        class="header">{{objCaseDetail?.CUSTOMER?.FirstName}}&nbsp;{{objCaseDetail?.CUSTOMER?.LastName}}</mat-card-title>
                    <mat-card-content>
                        <p>{{objCaseDetail?.CUSTOMER?.Address1}}, {{objCaseDetail?.CUSTOMER?.Address2}},
                            {{objCaseDetail?.CUSTOMER?.City}}, {{objCaseDetail?.CUSTOMER?.StateCode}},
                            {{objCaseDetail?.CUSTOMER?.CountryCode}}</p>
                        <p>
                            <b>GST Registration No: </b>{{ objCaseDetail?.CUSTOMER?.GSTRegistrationNo == null ||
                            objCaseDetail?.CUSTOMER.GSTRegistrationNo == undefined
                            ?'N.A':objCaseDetail?.CUSTOMER?.GSTRegistrationNo }}
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-lg-6 col-sm-12 col-md-6">
                <mat-card style="display: block !important">
                    <p><b>Location Details</b></p>
                    <hr />
                    <mat-card-title class="header">{{objCaseDetail?.LOCATION?.LocationCode}} -
                        {{objCaseDetail?.LOCATION?.LocationName}}</mat-card-title>
                    <mat-card-content>
                        <p>{{objCaseDetail?.LOCATION?.Address1}}, {{objCaseDetail?.LOCATION?.Address2}},
                            {{objCaseDetail?.LOCATION?.StateCode}}, {{objCaseDetail?.LOCATION?.CountryCode}}, </p>
                        <p><b>GST Registration No: </b>&nbsp;{{objCaseDetail?.LOCATION?.GSTRegistrationNo}}, &nbsp;
                            <b>Ship To:</b>&nbsp;
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>

        <!-- Job details -->
        <div class="row mt-2">
            <div class="col-12">
                <mat-card card style="height: 100%;">
                    <div class="row">
                        <div class="col-12">
                            <label class="HeaderText">Job Details</label>
                        </div>
                        <hr />
                    </div>
                    <div style="padding: 5px;">
                        <div class="row mt-2">
                            <div class="col-lg-3 col-sm-3 col-md-3 col-6">
                                <b>Job Type</b> <br>
                                <label>{{objCaseDetail?.JobTypeDesc}}</label>
                            </div>
                            <div class="col-lg-3 col-sm-3 col-md-3 col-6">
                                <b>Job Status</b> <br>
                                <label> {{objCaseDetail?.JobStatusDesc}}</label>
                            </div>

                            <div class="col-lg-3 col-sm-3 col-md-3 col-6">
                                <b>Technician Id</b> <br>
                                <label> {{objCaseDetail?.ASGTECH?.TechCode}}</label>
                            </div>

                            <div class="col-lg-3 col-sm-3 col-md-3 col-6">
                                <b>Technician Name</b> <br>
                                <label> {{objCaseDetail?.ASGTECH?.FirstName}} &nbsp;
                                    {{objCaseDetail?.ASGTECH?.LastName}}</label>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>


        <!-- Product details -->
        <div class="row mt-2">
            <div class="col-12">
                <mat-card card style="height: 100%;">
                    <div class="row">
                        <div class="col-12">
                            <label class="HeaderText">Product Details</label>
                        </div>
                        <hr />
                    </div>
                    <div style="padding: 5px;">
                        <div class="row mt-2">
                            <div class="col-lg-2 col-sm-2 col-md-2">
                                <b>CaseId</b> <br>
                                <label> {{objCaseDetail?.CaseId}}</label>
                            </div>
                            <div class="col-lg-2 col-sm-2 col-md-2">
                                <b>CaseDate</b> <br>
                                <label>{{objCaseDetail?.CaseDate}}</label>
                            </div>
                            <div class="col-lg-2 col-sm-2 col-md-2">
                                <b>Serial No</b> <br>
                                <label> {{objCaseDetail?.SerialNo1}}</label>
                            </div>

                            <div class="col-lg-2 col-sm-2 col-md-2">
                                <b>Warranty Status</b> <br>
                                <!-- <label> {{objCaseDetail?.WarrantyStatusDesc}}</label> -->
                            </div>
                            <div class="col-lg-2 col-sm-2 col-md-2">
                                <b>Product Description</b> <br>
                                <label> {{objCaseDetail?.productDescription}}</label>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>



        <div class="row mt-2" *ngIf="isattachmentShow">
            <div class="col-12">
                <mat-card card style="height: 100%;">
                    <div class="row">
                        <div class="col-12">
                            <label class="HeaderText">Uploaded Files</label>
                        </div>
                        <hr />
                    </div>
                    <div style="padding: 5px;">
                        <div class="row mt-2">
                            <div class="col-lg-3 col-sm-3 col-md-3" *ngFor="let item of attachmentList">
                                <div
                                    style="padding: 5px; border: 1px dashed rgb(126, 126, 126);  border-radius: 10px;display: flex;justify-content: center;flex-direction: column;">
                                    <img [src]="item.src">

                                    <div style="display:flex;align-items: center;justify-content: end;padding: 5px;">
                                        <i *ngIf="item.src !='assets/images/tick.png'" (click)="viewImage(item)"
                                            class="fa fa-eye" aria-hidden="true"></i>
                                    </div>
                                    <div style="display:flex;align-items: center;justify-content: end;padding: 5px;">
                                        <a [attr.href]="openFile(item)" target="_blank">
                                            <i *ngIf="item.src =='assets/images/tick.png'" style="color:black"
                                                class="fa fa-file" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>


        <!-- Verification -->
        <!-- <mat-card class="mt-2" *ngIf="isShowVerification">
            <div class="row">
                <div class="col-12">
                    <label class="HeaderText">Verification</label>
                </div>
                <hr />
                <div style="padding: 5px;">
                    <mat-card>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-2">
                                    <b>Serial No</b> <br>
                                    <label> {{objCaseDetail?.JOBVerification?.SerialNo}}</label>
                                </div>
                                <div class="col-2">
                                    <b>Coverage Date</b> <br>
                                    <label> {{objCaseDetail?.JOBVerification?.CoverageDate}}</label>
                                </div>
                                <div class="col-2">
                                    <b>Material Code</b> <br>
                                    <label> {{objCaseDetail?.JOBVerification?.MaterialCode}}</label>
                                </div>
                                <div class="col-2">
                                    <b>PV Status</b> <br>
                                    <label> {{objCaseDetail?.JOBVerification?.PVStatus}}</label>
                                </div>
                                <div class="col-2">
                                    <b>PV Rejection Reason</b> <br>
                                    <label> {{objCaseDetail?.JOBVerification?.Remark}}</label>
                                </div>
                            </div>

                        </div>
                    </mat-card>
                </div>
            </div>
        </mat-card> -->


        <!-- Diagnosis -->
        <mat-card class="mt-2" *ngIf="objCaseDetail?.DiagFlag=='1'">
            <div class="row">
                <div class="col-12">
                    <label class="HeaderText">Diagnosis</label>
                </div>
                <hr />
                <div style="padding: 5px;">
                    <mat-card>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-3">
                                    <b>Diagnosis Code</b> <br>
                                    <label> {{objCaseDetail?.DIAG?.DiagnosisCode}}</label>

                                </div>
                                <div class="col-3">
                                    <b>Diagnosis Date</b> <br>
                                    <label> {{objCaseDetail?.DIAG?.DiagnosisDate}}</label>

                                </div>
                                <div class="col-3">
                                    <b>Repair Type</b> <br>
                                    <label> {{objCaseDetail?.DIAG?.RepairTypeDesc}}</label>

                                </div>
                                <div class="col-3">
                                    <b>Reason</b> <br>
                                    <label> {{objCaseDetail?.DIAG?.Reason}}</label>
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-3">
                                    <b>Remark</b> <br>
                                    <label> {{objCaseDetail?.DIAG?.Remark}}</label>

                                </div>
                                <div class="col-3">
                                    <b>Payment Term</b> <br>
                                    <label> {{objCaseDetail?.DIAG?.PaymentTerms}}</label>

                                </div>
                                <div class="col-3">
                                    <b>Trouble Shooting By Engineer</b> <br>
                                    <label> {{objCaseDetail?.DIAG?.TroubleShootingByEngineer}}</label>
                                </div>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
        </mat-card>

        <!-- Quote -->
        <!-- <mat-card class="mt-2" *ngIf="isShowQuote">
            <div class="row">
                <div class="col-12">
                    <label class="HeaderText">Quote</label>
                </div>
                <hr />
                <div style="padding: 5px;">
                    <mat-card>
                        <table>
                            <thead>
                                <th><b>Part Code</b></th>
                                <th><b>Part Description</b></th>
                                <th><b>Item Type</b></th>
                                <th><b>Unit Price</b></th>
                                <th><b>Tax Amout</b></th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of quoteList">
                                    <td> {{item?.ItemCode}}</td>
                                    <td> {{item?.ItemDescription}}</td>
                                    <td> {{item?.ItemType}}</td>
                                    <td> {{item?.UnitPrice}}</td>
                                    <td> {{item?.TaxAmount}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </mat-card>
                </div>
            </div>
               <div class="row mt-2">
                <div class="col-lg-12" style="display: flex; flex-direction: row;">
                   <div class="col-lg-12" >
                    <button  style="float: right;" class="btn btn-warning"  appDebounceClick (debounceClick)="ResetQuote()" [debounceTime]="700"
                    >Reset Quote
                    </button>
                   </div>
                </div>
            </div>
        </mat-card> -->

        <!-- Repair Parts -->
        <mat-card class="mt-3" *ngIf="isShowRepairParts">
            <div class="row">
                <div class="col-12">
                    <label class="HeaderText">Repair Parts</label>
                    <div style="text-align: right;">
                        <span style="font-weight: 900; font-size: 16px; padding-right: 110px;">
                            GSX Repair Status: {{ objCaseDetail?.REPAIR?.GSXRepairStatus }}
                            &nbsp;&nbsp;&nbsp;
                            GSX Repair Status Description: {{ objCaseDetail?.REPAIR?.GSXRepairStatusDescription }}
                        </span>
                    </div>
                </div>
                <hr />

                <div style="padding: 5px;">
                    <mat-card>
                        <table>
                            <thead>
                                <th><b>Part Code</b></th>
                                <th><b>Part Description</b></th>
                                <th><b>Quantity</b></th>
                                <th><b>Unit Price</b></th>
                                <th><b>Component Desc </b></th>
                                <th><b>Issue Desc</b></th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of reapairList">
                                    <td> {{item?.PartCode}}</td>
                                    <td> {{item?.PartDescription}}</td>
                                    <td> {{item?.Quantity}}</td>
                                    <td> {{item?.UnitPrice}}</td>
                                    <td> {{item?.ComponentDescription}}</td>
                                    <td> {{item?.IssueDescription}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </mat-card>
                </div>
            </div><br />
            <div class="col-12">
                <div class="row">
                    <div class="col-sm-12 col-lg-12 col-md-12" *ngIf="objCaseDetail.RepairFlag == '1' && objCaseDetail.HandoverFlag == '0'">
                        <mat-form-field appearance="standard" [style.width.%]="50" style="margin-top: -26px;">
                            <input matInput type="text" [(ngModel)]="repairReason" placeholder="Enter Resaon">
                        </mat-form-field>
                        <button appDebounceClick  class="btnClass"
                            (debounceClick)="saveResetRepair()" style="text-align: center;float: right;"
                            [debounceTime]="700"> Reset Repair
                        </button>
                    </div>
                </div>
            </div>
        </mat-card>

        <!-- Part Orders -->
        <mat-card class="mt-3" *ngIf="isShowPartOrderObj">
            <div class="row">
                <div class="col-12">
                    <label class="HeaderText">Part Order</label>
                </div>
                <hr />
                <div style="padding: 5px;">
                    <mat-card>
                        <table>
                            <thead>
                                <th><b>Part Code</b></th>
                                <th><b>Quantity</b></th>
                                <th><b>Unit Price</b></th>
                                <th><b>Status</b></th>
                                <th><b>Remark</b></th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of partOrderList">
                                    <td> {{item?.MaterialCode}}</td>
                                    <td> {{item?.Quantity}}</td>
                                    <td> {{item?.UnitPrice}}</td>
                                    <td *ngIf="item.OrderStatus === 'SENT FOR APPROVAL'"> {{item?.OrderStatus}}</td>
                                    <td style="color:red" *ngIf="item.OrderStatus === 'REJECT'">
                                        <b>{{item?.OrderStatus}}</b>
                                    </td>
                                    <td style="color:green" *ngIf="item.OrderStatus === 'OPEN'">
                                        <b>{{item?.OrderStatus}}</b>
                                    </td>
                                    <td> {{item?.Remark}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </mat-card>
                </div>
            </div><br />
        </mat-card>

        <!-- Notes -->
        <mat-card class="mt-3" *ngIf="isShowNotes">
            <div class="row">
                <div class="col-12">
                    <label class="HeaderText">Notes</label>
                </div>
                <hr />
                <div style="padding: 5px;">
                    <mat-card>
                        <div *ngFor="let item of notesList">
                            <b>{{item.NotesTypeDesc}}</b> <br>
                            <label>{{item.Notes}}</label>
                        </div>

                    </mat-card>
                </div>
            </div>
        </mat-card>

        <!-- Invoice -->
        <mat-card class="mt-3" *ngIf="isShowInvoice">
            <div class="row">
                <div class="col-12">
                    <label class="HeaderText">Invoice</label>
                </div>
                <hr />
                <div style="padding: 5px;">
                    <mat-card>

                        <table>
                            <thead>
                                <th><b>Part Code</b></th>
                                <th><b>Part Description</b></th>
                                <th><b>Item Type</b></th>
                                <th><b>Unit Price</b></th>
                                <th><b>Tax Amout</b></th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of  invoiceList">
                                    <td> {{item?.ItemCode}}</td>
                                    <td> {{item?.ItemDescription}}</td>
                                    <td> {{item?.ItemType}}</td>
                                    <td> {{item?.UnitPrice}}</td>
                                    <td> {{item?.TaxAmount}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </mat-card>
                </div>
            </div>
        </mat-card>

        <!-- Ready For Pickup -->
        <mat-card class="mt-3" *ngIf="isShowRFP">
            <div class="row">
                <div class="col-12">
                    <label class="HeaderText">Ready For PickUp</label>
                </div>
                <hr />

                <div style="padding: 5px;">
                    <mat-card>
                        <div class="row" *ngFor="let item of  RFPList">
                            <div class="col-3">
                                <b>RFP Code</b><br>
                                <label>{{item.RFPCode}}</label>
                            </div>

                            <div class="col-3">
                                <b>RFP Date</b><br>
                                <label>{{item.RFPDate}}</label>
                            </div>

                            <div class="col-3">
                                <b>RFP Description</b><br>
                                <label>{{item.RFPDesc}}</label>
                            </div>

                            <div class="col-3">
                                <b>Remark</b><br>
                                <label>{{item.Remark}}</label>
                            </div>

                        </div>

                    </mat-card>
                </div>
            </div>
        </mat-card>

    </div>


    <div style="padding: 10px;" *ngIf="isEstimationReject">
        <!-- isEstimationReject  -->
        <mat-card style="background-color: rgb(226, 226, 226);">
            <div class="row">
                <div class="col-12">
                    <b class="HeaderText">Estimation Reject </b>
                </div>
                <hr />

            </div>


            <div class="row mt-4">
                <div class="col-12" style="display: flex;align-items: center;justify-content: end;column-gap: 10px;">
                    <button class="btn btn-primary" (click)="Confirm()">Confirm</button>
                    <button class="btn btn-danger" (click)="Cancel()">Cancel Request</button>
                </div>
            </div>
        </mat-card>
    </div>


    <div style="padding: 10px;" *ngIf="isEstimationPrepaid">
        <!-- EstimationPrepaid  -->
        <mat-card style="background-color: rgb(226, 226, 226);">
            <div class="row">
                <div class="col-12">
                    <b class="HeaderText">Estimation Prepared </b>
                </div>
                <hr />
            </div>


            <div class="row mt-4">
                <div class="col-12" style="display: flex;align-items: center;justify-content: end;column-gap: 10px;">
                    <button class="btn btn-primary" (click)="Confirm()">Confirm</button>
                    <button class="btn btn-danger" (click)="Cancel()">Cancel Request</button>
                </div>
            </div>
        </mat-card>
    </div>


    <div style="padding: 10px;" *ngIf="isEstimationPending">
        <!-- Estimation Pending  -->
        <mat-card style="background-color: rgb(226, 226, 226);">
            <div class="row">
                <div class="col-12" style="border-bottom:1px solid black;">
                    <b class="HeaderText"> Estimation Pending Approval </b>
                </div>
            </div>


            <div class="row mt-4">
                <div class="col-12" style="display: flex;align-items: center;justify-content: end;column-gap: 10px;">
                    <!-- <button class="btn btn-primary" (click)="Confirm()">Approve</button>
                    <button class="btn btn-danger" (click)="Cancel()">Reject</button> -->
                </div>
            </div>
        </mat-card>
    </div>
    <div style="padding: 10px;" *ngIf="isSerialNoAproval">
        <!-- Estimation Pending  -->
        <mat-card style="background-color: rgb(226, 226, 226);">
            <div class="row">
                <div class="col-12" style="border-bottom:1px solid black;">
                    <b class="HeaderText">SerialNo Approval </b>
                </div>
            </div>


            <div class="row mt-4">
                <div class="col-12" style="display: flex;align-items: center;justify-content: end;column-gap: 10px;">
                    <!-- <button class="btn btn-primary" (click)="Confirm()">Approve</button>
                    <button class="btn btn-danger" (click)="Cancel()">Reject</button> -->
                </div>
            </div>
        </mat-card>
    </div>

    <div class="col-12">
        <div class="row">
            <div class="col-sm-12 col-lg-12 col-md-12">
                <mat-form-field appearance="standard" [style.width.%]="50"
                    style="margin-top: -26px; margin-left: 20px;">
                    <input matInput type="text" [(ngModel)]="cancelReason" placeholder="Enter Resaon">
                </mat-form-field>
                <button appDebounceClick class="btn btn-success" 
                *ngIf="objCaseDetail.RepairFlag == '0' && objCaseDetail.RFPFlag == '0'"
                    style="text-align: center; height: 30px; float: right; margin-right: 20px;border-radius: 20px;"
                    (debounceClick)="saveCancelJob()" [debounceTime]="700"> Cancel Job
                </button>
            </div>
        </div>
    </div>
</div>

<app-job-journey style="position: fixed;left: 70%;top:0%; background-color: white;
        border: 1px solid #ccc;  box-shadow: 0 0 10px rgba(0,0,0,0.2);  padding: 20px; z-index: 1000;
        height:100% !important;width:100% !important" *ngIf="isTimelineOpen" [repa]="objCaseDetail"></app-job-journey>