<ngx-spinner style="width: 100%; height: 100%; position: absolute;" size="medium" *ngIf="Spinner" [type]="typeSelected"  [fullScreen]="true">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<section class="content" [ngClass]="{'blurred': !hidePopup}">

  <mat-card style="padding: 0px !important;">
    <div class="card" style="margin-bottom: 7px;min-height: 0% !important;border-radius: 2px;">
      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <div class="row" style="align-items: center;">
            <div class="col-lg-5 col-sm-6 col-6 " style=" border-right: 1px solid rgb(112, 111, 111);text-align: center;display: flex; align-items: center; justify-content: center;">
              <div class="mt-1" style=" padding-right: 15px;">
                <i class="fa-sharp fa-solid fa-boxes-stacked"></i>
              </div>
              <div class="mt-1">
                <h4><span style="color: black;font-size: 14px; font-weight: 600; " title="">Request Code </span></h4>
                <div class="mt-1">
                  <h4><span style="color: black;font-size: 14px; font-weight: 600; " title=""> NA </span> </h4>
                </div>
              </div>
            </div>

            <div class="col-lg-7 col-sm-6 col-6" style=" border-right: 1px solid rgb(112, 111, 111);">
              <!-- inside Box -->
              <div class="JobTypeDesc "
                style="color:blue ;text-align: center;display: flex; align-items: center; justify-content: center;">
                <b style="color: black;padding-right: 10px;">Approval Status: </b>NEW
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-sm-12 mt-3">
          <div class="row" style="align-items: center;">
            <div class="col-lg-1 col-sm-3 col-6 " style="text-align: center;display: flex; align-items: center; justify-content: center;">
            </div>

            <div class="col-lg-5 col-sm-3 col-md-3 col-6"
              style=" color: {{SalesReturnObject?.SalesReturnStatus === 'CLOSED' ? 'green' : 'blue'}};border-right: 1px solid rgb(112, 111, 111);text-align: center;display: flex; align-items: center; justify-content: center;">
              <b style="color: black;padding-right: 10px;">Sales Return Status: </b>NA
            </div>
            <div class="col-lg-4 col-sm-3 col-6 ">
              <!-- inside Box -->
              <div class="col-12"
                style="text-align: center;display: flex; align-items: center; justify-content: center;">
                <label style="white-space: nowrap;">Date:-   {{ (currentDate | date : 'dd/MM/yyyy : hh:mm a' ) }}</label>
              </div>
            </div>
            <div class="col-lg-1 col-sm-3 col-6 " style="text-align: center;display: flex; align-items: center; justify-content: center;">
            </div>

          </div>
        </div>
      </div>
    </div>
  </mat-card>


  
    <mat-card  *ngIf="!params.customercode" >
      <div class="row">
          <div class="col-lg-2 col-sm-3 col-md-3" style="display: flex;align-items: center;">
              <label style="font-size:16px !important;">Location Code</label>
          </div>
          <div class="col-lg-3 col-sm-3 col-md-3">
              <ng-select [items]="LocationDD.Data" bindLabel="TEXT" bindValue="Id"
                  [(ngModel)]="LocationCode" (change)="getLocationData()"></ng-select>
          </div>
          <div class="col-lg-2 col-sm-3 col-md-3" style="display: flex;align-items: center;">
              <label style="font-size:16px !important;">Invoice Code</label>
          </div>
          <div class="col-lg-2 col-sm-3 col-md-3" style="display: flex; align-items: center;">
              <input type="text" style="height:33px; border-radius: 4px; border: 1px solid rgb(192, 192, 192);"
                  [(ngModel)]="InvoiceCode" placeholder="Please Enter Invoice Code" />
          </div>
  
          <div class="col-lg-2 col-sm-3 col-md-3" style="display: flex; align-items: center;justify-content: end;">
              <button class="btn btnClass" style="height: 30px;" (click)="SearchInvoiceList()">Search <i
                      style="padding-left: 10px;" class="fa fa-search" aria-hidden="true"></i></button>
          </div>
      </div>
     
  </mat-card>
   


  <!-- Customer and Location Details -->
  <div class="row" style="padding:10px;padding-bottom: 15px;" *ngIf="params.customercode">
    <!-- Background -->
    <div class="col-lg-12"
      style="background-color: rgb(255, 255, 255); box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;  border-radius: 5px;">
      <div class="row">
        

        <!-- Location  -->
        <div class="col-lg-4 col-sm-12"
          style="padding-left:0px ;padding-right:0px;background-color:rgb(255, 255, 255); border-right: 1px solid hsl(0, 0%, 92%);">
          <div  style="color:rgb(0, 0, 0);height: 31px;padding-left: 10px;background-color: #dddddd;font-size: 10px !important;padding-top:3px;">
            <div class="row">
              <div class="col-6">
                <span style="font-size: 16px !important;color:black;font-weight: 600;">Location Details</span>
              </div>
            </div>
          </div>
          <!-- Location Content -->
          <div *ngFor="let item of LocationObject">
            <div class="MainDiv" style="padding: 10px;">
                <mat-card-title >Location Name:- {{item?.LocationName}}</mat-card-title>
                <p>Address:- {{item?.Address1}}, {{item?.Address2}}, {{item?.City}} - {{item?.ZipCode}}, {{item?.StateCode}}.</p>
                <mat-card-content>
                  <p>Email:- {{item?.EmailId}}</p>
                  <p>Mobile No:- {{item?.MobileNo}}</p>
                  <!-- <p><b>GST Registration No: </b>&nbsp;{{item?.GSTRegistrationNo[0]}}, &nbsp; <b>Ship To:</b>&nbsp; {{item?.SHIP_TO_GSX[0]}}</p> -->
                </mat-card-content>
              </div>
          </div>
        </div>

        <!-- Customer  -->
        <div class="col-lg-4 col-sm-12"
          style="padding-left:0px ;padding-right:0px;background-color:rgb(255, 255, 255);border-right: 1px solid hsl(0, 0%, 92%);    border-top-left-radius: 5px;    border-bottom-left-radius: 5px;">
          <!-- Customer Heading -->
          <div
            style="color:rgb(0, 0, 0);padding-left: 10px;background-color: #dddddd;height: 31px;padding-top: 4px;    border-top-left-radius: 5px;">
            <span style="font-size: 16px !important;color:black;font-weight: 600;">Customer Details</span>
          </div>
          <!-- Details Content -->
          <div  *ngFor="let item of CustomerObject" >
            <div class="MainDiv" style="padding: 10px;">
                <mat-card-title >Customer Code:- {{item?.CustomerCode}}</mat-card-title>
                <mat-card-title>Name:- {{item?.FirstName}}&nbsp;{{item?.LastName}}</mat-card-title>
                <mat-card-content>
                  <p> Address:- {{item?.Address1}}, {{item?.Address2}}, {{item?.City}} -  {{item?.ZipCode}}, {{item?.StateCode}}, {{item?.CountryCode}}</p>
                  <p>Email:- {{item?.EmailID}}</p>
                  <!-- <p><b>GST Registration No: </b>{{ item?.GSTRegistration ? item?.GSTRegistration : 'N.A' }}</p> -->
                </mat-card-content>
            </div>
          </div>
          
        </div>

        <div class="col-lg-4 col-sm-12"
          style="padding-left:0px ;padding-right:0px;background-color:rgb(255, 255, 255);border-radius: 5px;">
          <!-- Refund Type DropDown Heading -->
          <div
            style="color:rgb(0, 0, 0);height: 31px;padding-left: 10px;background-color: #dddddd;font-size: 10px !important;padding-top:3px;    border-top-right-radius: 5px;">
            <div class="row">
              <div class="col-12">
                <span style="font-size: 16px !important;color:black;font-weight: 600;">Refund Control <i style="color:red">*</i></span>
              </div>

            </div>
          </div>
          <!-- DD Content -->
          <div>
            <div class="MainDiv" style="padding: 10px;">
              <ng-select  [readonly]="false" [items]="RefundControlDD" bindLabel="TEXT" [disabled]="false" bindValue="Id"
              [(ngModel)]="RefundControl"  placeholder="" ></ng-select>  
            </div>
          </div>
          <!-- Refund Reason -->
          <div>
            <div
            style="color:rgb(0, 0, 0);height: 31px;padding-left: 10px;background-color: #dddddd;font-size: 10px !important;padding-top:3px;    border-top-right-radius: 5px;">
            <div class="row">
              <div class="col-6">
                <span style="font-size: 16px !important;color:black;font-weight: 600;">Refund Reason <i style="color:red">*</i></span>
              </div>
            </div>
          </div>
          <div>
            <div class="MainDiv" style="padding: 10px;">
              <ng-select  [readonly]="false" [items]="RefundReasonDD.Data" bindLabel="TEXT" [disabled]="false" bindValue="Id"
              [(ngModel)]="RefundReason"  placeholder="" ></ng-select> 
            
            </div>
          </div>

      </div>
        </div>
      </div>
    </div>
  </div>

  
  
  
  <div class="mt-2" style="background-color: white; border-radius: 8px;" *ngIf="params.customercode" >
  
  <div style="display: flex;align-items: center; justify-content: space-between;padding: 5px; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
    <div>

      <mat-card-title class="header">

        <div style="display: flex; align-items: center;justify-content: center; width: 100px;">
        <div style="padding-right: 10px;" >
          <label style="font-weight: 600; font-size:18px !important;">Parts</label>
        </div>
        
        <div style="padding-right: 25px;">
          <div (click)="isImageUpload = true" style="text-align: center;padding-top: 5px; position: relative;">
        
            <i style="font-size:18px !important;" class="iconbtn fa-light fa-paperclip" matTooltip="File Attachments">
                <div style="padding-bottom: 5px;padding-left: 18px;">  
                   <span class="badge" style="position: absolute; top:0;" *ngIf="FileUploadList.length >= 0"> {{ FileUploadList.length }}</span>
               </div>
            </i> 
         </div>
        </div>
      
        <div >
          <div (click)="isRemarkUpload = true" style="text-align: center;padding-top: 5px; position: relative;">
        
            <i style="font-size:18px !important;" class="iconbtn fa-light fa-comment" matTooltip="Sales Return Remarks">
                <div style="padding-bottom: 5px;padding-left: 18px;">  
                   <span class="badge" style="position: absolute; top:0;" *ngIf="getNonEmptyRemarksCount() >= 0">{{ getNonEmptyRemarksCount() }}</span>
               </div>
            </i> 
         </div>
        </div>

        </div>

      
      </mat-card-title>
    </div>
    <div >
      <button class="btnClass" style="height: 28px;" (click)="showAddParts()" [hidden]="isEdit">Add Parts</button>
    </div>
  </div>
  
  
  
  
  <div class="mt-2"  *ngIf="params.customercode" style="padding: 5px;">
  <div *ngIf="finalSelectedElements.length>0">
    <div class="row mt-2">
      <div class="col-12">
        <div class="scrollcntr" style="height: 347px !important; ">
          <div class="contents table-responsive" style="height: 270px;">
            <table>
              <thead>
                <tr style="height: auto !important;">
                  <th scope="col">Material Code</th>
                  <th scope="col">Material Name</th>
                  <th scope="col">Batch</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Unit Price</th>
                  <th scope="col">Base Amount</th>
                  <th scope="col">Discount Amount</th>
                  <th scope="col">Taxable Amount</th>
                  <th scope="col">Tax Amount</th>
                  <th scope="col">Net Amount</th>
                  <th scope="col">Storage Condition <i style="color:red">*</i></th>
                  <th scope="col">Serial No</th>
                  <th scope="col">Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of finalSelectedElements">
                  <td>{{item?.ItemCode}}</td>
                  <td style="white-space: nowrap; "> <span> {{ item?.ItemDescription}} </span></td>
                  <td style="white-space: nowrap;">{{ item?.Batch }}</td>
                  <td style="text-align: right;">{{ item?.Quantity}}</td>
                  <td style="text-align: right;">{{ item?.UnitPrice | number: '1.2-2'}}</td>
                  <td style="text-align: right;">{{ item.BaseAmount | number: '1.2-2'}}</td>
                  <td style="text-align: right;">{{ item?.DiscountAmount | number: '1.2-2'}}</td>
                  <td style="text-align: right;">{{ item?.TaxableAmount | number: '1.2-2'}}</td>
                  <td style="text-align: right;">{{ item?.TaxAmount | number: '1.2-2'}}</td>
                  <td style="text-align: right;">{{ item.NetAmount | number: '1.2-2'}}</td>
                  <td style="text-align: right;"> 
                    <ng-select  [readonly]="false" [items]="StorageConditionDD" bindLabel="TEXT" [disabled]="false" bindValue="Id"
                    [(ngModel)]="item.StorageCondition"  placeholder="" ></ng-select> 
                  </td>
                  <td style="white-space: nowrap;">{{ item?.SerialNo }}</td>
                  <td  style="text-align: center; "><span><i style="color:red"
                    (click)="deleteitem(item)" class="fa-regular fa-trash"></i></span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  
  
  
  
  
  
  
    <div style="position:sticky;bottom:0;background-color: gainsboro; padding: 5px;" *ngIf="finalSelectedElements.length>0">
      <div class="row" >
  
        <div class="col-9" style=" padding: 5px;">
          <div class="row">
  
        <div class="col-sm-3 col-lg-3 col-md-3 col-12">
          Part Quantity: <b>({{finalSelectedElements.length}})</b>
        </div>
        <div class="col-sm-3 col-lg-3 col-md-3 col-12">
          Taxable Amount: <b>{{totalTaxableAmount | number: '1.2-2'}}</b>
        </div>
        <div class="col-sm-3 col-lg-3 col-md-3 col-12">
          Tax Amount: <b>{{totalTaxAmount | number: '1.2-2'}}</b>
        </div>
        <div class="col-sm-3 col-lg-3 col-md-3 col-12">
          Net Amount: <b>{{totalNetAmount | number: '1.2-2'}}</b>
        </div>
        </div>
        </div>
  
  
        <div class="col-3" >
          <div class="row">
           <div class="col-sm-12 col-lg-12 col-md-12">
            <button appDebounceClick  (debounceClick)="onSaveRequest()"  [disabled]="submitClicked" class="btnClass" 
              style="letter-spacing: 2px;text-align: center;float: right; white-space:nowrap; height: 30px;"
            [debounceTime]="700">Save
            </button>
          </div>
          </div>
        </div>
  
      </div>
     
      <div>
      </div>
      <div>
      </div>
    </div>
  </section>

  <!-- Popupp Starts Here -->
<div class="container" style="    margin: 2% auto !important;max-width: 91% !important;">
    <div class="background" [hidden]="hidePopup">
      <div class="Ux_popup popup" style="position: relative;">
    
      <!-- ************************************** POPUP  ************************************************ -->
    
        <mat-card >
    
            <ngx-spinner size="medium" [type]="typeSelected">
                <p style="font-size: 20px; color: white">Loading...</p>
              </ngx-spinner>
    
    
              <div>
                <div style="display: flex; align-items: center; justify-content: space-between;">
                  <div>
                    <b style="font-size: 17px !important;">Parts List</b>
                  </div>
    
                  <div>
                    <i class="Ux_close fa-duotone fa-circle-xmark" (click)="hideAddParts()" ></i>
                  </div>
                </div>
              </div>
              <hr>
    
            <!-- Repair Content -->  
            <div class="MainDiv" style="padding: 10px;" *ngIf="true">
                <div class="row">
                <div class="scrollcntr" style="height: 347px !important;">
                    <div class="contents table-responsive">
                    <table>
                        <thead>
                        <tr style="height: auto !important;">
                            <th scope="col">Select</th>
                            <th scope="col">No:-</th>
                            <th scope="col">Material Code</th>
                            <th scope="col">Material Name</th>
                            <th scope="col">Batch</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Unit Price</th>
                            <th scope="col">Base Amount</th>
                            <th scope="col">Discount Amount</th>
                            <th scope="col">Taxable Amount</th>
                            <th scope="col">Tax Amount</th>
                            <th scope="col">Net Amount</th>
                            <th scope="col">Serial No</th>
                        </tr>
                        </thead>
                        <tbody>
                     
                          <tr *ngFor="let item of popUpArray; let index = index" [ngClass]="{ 'hide': !item.isSelected}" >
                            <td>  <i class="fa fa-check" aria-hidden="true"></i> </td>
                            <td>{{index + 1}}</td>
                            <td>{{item?.ItemCode}}</td>
                            <td style="white-space: nowrap; "> <span> {{ item?.ItemDescription}} </span></td>
                            <td style="white-space: nowrap;">{{ item?.Batch }}</td>
                            <td style="text-align: right;">{{ item?.Quantity}}</td>
                            <td style="text-align: right;">{{ item?.UnitPrice | number: '1.2-2'}}</td>
                            <td style="text-align: right;">{{ item.BaseAmount | number: '1.2-2'}}</td>
                            <td style="text-align: right;">{{ item?.DiscountAmount | number: '1.2-2'}}</td>
                            <td style="text-align: right;">{{ item?.TaxableAmount | number: '1.2-2'}}</td>                
                            <td style="text-align: right;">{{ item?.TaxAmount | number: '1.2-2'}}</td>
                            <td style="text-align: right;">{{ item?.NetAmount | number: '1.2-2'}}</td>
                            <td style="white-space: nowrap;">{{ item?.SerialNo }}</td>
                          </tr>
    
                          <br/>
                          <tr  style="border:2px solid black;">
                          </tr>
                          <br/>
    
                          <tr *ngFor="let item of popUpArray; let index = index" [ngClass]="{ 'hide': showOnlySelected && !item.isSelected}">
                            <td style="width: 1%; "><input type="checkbox" [(ngModel)]="item.isSelected" (change)="UpdateSelectedCount(item)"/></td>
                            <td>{{index + 1}}</td>
                            <td>{{item?.ItemCode}}</td>
                            <td style="white-space: nowrap; "> <span> {{ item?.ItemDescription}} </span></td>
                            <td style="white-space: nowrap;">{{ item?.Batch }}</td>
                            <td style="text-align: right;">{{ item?.Quantity}}</td>
                            <td style="text-align: right;">{{ item?.UnitPrice | number: '1.2-2'}}</td>
                            <td style="text-align: right;">{{ item.BaseAmount | number: '1.2-2'}}</td>
                            <td style="text-align: right;">{{ item?.DiscountAmount | number: '1.2-2'}}</td>
                            <td style="text-align: right;">{{ item?.TaxableAmount | number: '1.2-2'}}</td>
                            <td style="text-align: right;">{{ item?.TaxAmount | number: '1.2-2'}}</td>
                            <td style="text-align: right;">{{ item?.NetAmount | number: '1.2-2'}}</td>
                            <td style="white-space: nowrap;">{{ item?.SerialNo }}</td>
                          </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
                </div>
            </div>
    
    
          
    
    
      </mat-card>
    
    
      
      <div  style="position:inherit;bottom:0;">
        <div style="background-color: gainsboro; padding-bottom: 10px;">
          <div class="row" style="padding-top: 5px; padding-left: 20px;">
              <div class="col-sm-2 col-lg-2 col-md-2">
                <label style="color: black;"> No. of Payments Selected:- <b>({{SelectedList.length}})</b></label>
              </div>
              <div class="col-sm-2 col-lg-2 col-md-2" style="display: flex; ">
                <div style="padding-right: 5px;">
                  <input type="checkbox" [(ngModel)]="showOnlySelected" >
                </div>
    
                <div>
                  <label style="color: black;">Show Only Selected</label>
                </div>
                 
              </div>
              <div class="col-sm-2 col-lg-2 col-md-2">
              <label style="color: black;">   Taxable Amount: <b>{{totalSelectedTaxableAmount | number: '1.2-2'}}</b> </label>
              </div>
              <div class="col-sm-2 col-lg-2 col-md-2">
                <label style="color: black;">   Tax Amount: <b>{{totalSelectedTaxAmount | number: '1.2-2'}}</b> </label>
              </div>
              <div class="col-sm-2 col-lg-2 col-md-2">
                <label style="color: black;">  Net Amount: <b>{{totalSelectedNetAmount | number: '1.2-2'}}</b> </label>
              </div>
    
              <div class="col-sm-2 col-lg-2 col-md-2" style="padding-right: 20px;display: flex; align-items: center; justify-content: end;">
                  <button class="btn btnClass" style="float: right; height: 35px;" (click)="onPopUpSubmit()" > Submit </button>
              </div>
          </div>
      
          <div>
          </div>
          <div>
          </div>
      </div>
      </div>
      
    
    </div>
    </div>
    </div>

<div *ngIf="isImageUpload" class="Ux_popup">
  <app-image-list [FileList]="FileUploadList"  [isEdit]="true" (FileListChanged)="onFileListChanged($event)" (CancelBtn)="this.isImageUpload = false;"> </app-image-list>
</div>

<div *ngIf="isRemarkUpload" class="Ux_popup">
  <app-remark-list [RemarkList]="RemarkUploadList" [isEdit]="true" [Level]="RemarkLevel" (RemarkListChanged)="onRemarkListChanged($event)" (CancelBtn)="this.isRemarkUpload = false;"> </app-remark-list>
</div>
