<div class="row">
    <div class="row" style="display:flex ; align-items: center;">
    <div class="col-11" >
        <p style="    
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 17px;">
        <strong style=" font-size: 20px !important;">Select Refund Against?</strong></p>
    </div>
    <div class="col-1">
        <i style="font-size: 26px !important; color: red; float: right;cursor: pointer;"  (click)="optionClicked('Cancel')" class="Ux_close fa-duotone closeBtn fa-circle-xmark larger-icon"></i>
    </div>
    </div>
    <hr>

    <div class="col-lg-12 col-sm-6 col-12" style="padding: 10px; text-align: center;">
        <button class="btn btn-danger" style="float: center;" (click)="optionClicked('Repair')" >Advanced Payment</button>
        &nbsp;
        <button class="btn " style="float: center;background-color: rgb(12, 148, 182); color: white;" (click)="optionClicked('SalesReturn')">Sales Return</button>
        &nbsp;
        <!-- <button class="btn btn-secondary" style="float: center;" (click)="optionClicked('Cancel')">Cancel</button> -->
    </div>
</div>