
.header{
    font-weight: bolder;
    font-size: larger !important;
}
.btnClass
{
   border:  1.5px solid rgb(95 165 243);
    color: white;
    border-radius: 0px;
    background-image: linear-gradient(rgb(202, 212, 223), rgb(103, 163, 253)) !important;
    height: 25px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



.header{
  font-weight: bolder;
  font-size: larger !important;
}
.btnClass
{
 border:  1.5px solid rgb(95 165 243);
  color: white;
  border-radius: 0px;
  background-image: linear-gradient(rgb(202, 212, 223), rgb(103, 163, 253)) !important;
  height: 25px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
/* ------------------------------------------------------------ */


.header {
font-weight: bolder;
font-size: larger !important;
}

.btnClass {
border: 1.5px solid rgb(95, 165, 243);
color: white;
border-radius: 0;
background-image: linear-gradient(rgb(202, 212, 223), rgb(103, 163, 253)) !important;
height: 25px;
cursor: pointer;
position: relative;
}

/* Spinner and overlay adjustments */
.overlay {
margin: 25% 50%;
transform: translate(-50%, -50%);
width: 90%;
height: 80%;
z-index: 9999;
color: white;
background-color: transparent !important;
}

.background {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
z-index: 9999;
}

.popup {
background-color: #fff;
width: 50%;
max-width: 600px;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 10000;
padding: 20px;
border-radius: 8px;
}

/* Adjust close button */
.Ux_close {
cursor: pointer;
font-size: 20px;
position:initial !important;
}

/* Badges */
.badge {
background-color: red;
color: white;
font-size: 12px;
border-radius: 50%;
padding: 2px 5px;
position: absolute;
}

table thead tr th, table tbody tr td {
text-align: center;
}

.locationDiv {
margin: 20px 0;
}

:host ::ng-deep .ng-option-label {
float: left;
}

:host ::ng-deep .locationDiv .ng-select-container {
height: 79px !important;
overflow: auto;
padding-top: 37px !important;
}

:host ::ng-deep .ng-select.ng-select-single .ng-select-container {
margin: 0px !important;
height: 32.5px !important;
border-radius: 0px;
}
