


<div class="container">
    <div class="row">
        <div class="col-lg-12 col-sm-6 col-12">
            
<img  style="width: 100%;padding: 10px; height:500px; border-radius: 3px;"
[src]="imageSrc || 'http://placehold.it/180'" alt="your image" />

    </div>

    <!-- <div class="col-lg-12 col-sm-6 col-12" style="padding: 10px;">
        <button class="btn btn-danger" style="float: right;" (click)="downloadMyFile()">Download</button>
    </div>
    <a [href]="imageSrc" download="File.pdf" target="_top">
        <button type="button">Download</button>
        </a> -->
</div>


                    
